$Color_rojo: #FF030B;
$Color_gris: #707070;

.DetailBar {

    & .cabeceraBar {
        align-items: center;
        padding: 10px 18px;

        & .iconChevron {
            margin-bottom: 10px;
        }

        & .divTitulo {
            display: flex;
            justify-content: center;

            & .titulo {
                color: $Color_rojo;
                font-family: 'Yanone Kaffeesatz',
                    sans-serif;
                font-weight: bold;
                font-size: 3rem;
                margin: 0;
            }
        }

        & .icon {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }
    }

    & .menuOptions {
        justify-content: space-around;
        cursor: pointer;

        & p {
            font-size: 1.2rem;
        }

        & p:hover {
            color: #707070;
            font-weight: bold;
            border-bottom: 4px solid $Color_rojo;
        }
    }
}