.justifyCenter {
    display: flex;
    justify-content: center;
  }
  
  .lista {
    border: 2px solid red;
    margin: 10px 2rem;
    padding: 23px;
    border-radius: 60px;
  
    & p {
      color: grey;
    }
  
    & .miBoton {
      background-color: red;
      border-radius: 20px;
      color: white;
      padding: 0.5rem;
      width: 10rem;
      border-style: none;
    }
  }
  
  .Horario {
    padding: 40px 0;
  
    & hr {
      width: 100%;
    }
  
    & p {
      margin: 0 1rem;
    }
  }


/* .container-fluid {
    padding: 2rem;
    height: 50vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   
}

.row {
    display: flex;
}
  
.hora {
    float: right;
} */

/* .lista-espera {
  

    padding: 1rem;
    padding-left: 1.5rem;
}
.lista p {
    color: grey;
  }
  
  .personas {
    margin-left: auto;
  }
  
  .miBoton {
    background-color: red;
    border-radius: 20px;
    color: white;
    padding: 0.5rem;
    width: 10rem;
  }
  
  .container-fluid {
    height: auto;
  }

 
  .row {
    display: flex;
    color: grey;
  }
  
  .hora {
    float: right;
  }

  .Horario {
      padding: 1rem;
      padding-left: 1.5rem;
      padding-top: 4%;
    }

    .container-fluid_lista{
        /* padding: 5rem; */
        /* padding-top: 10%; */
        /* justify-content: center;
        border-style: 2px red;
        height: 30vh;
    } */

    /* hr{
        width: 100%;
    }

    .row h4{
        text-align: center;
    }
  
    .row.tiempo {
        text-align: center;
    }

    .row.personas {
        text-align: center;
    }

    .row.miBoton2 {
        text-align: center;
    }  */

  
