/* .container-fluid {
    padding: 2rem;
    height: 50vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   
}

.row {
    display: flex;
}
  
.hora {
    float: right;
} */

.lista-espera {
    /* color: red;
    display: flex;
    height: 45vh;
    border-radius: 10%; */

    padding: 1rem;
    padding-left: 1.5rem;
    /* width: 50%;
    margin-left: 25%; */
    /* border-style: double; */
    
}


  
  /* .lista {
    padding: 5rem;
    justify-content: center;
    padding-top: 10%;
    border-style: 2px red;
  } */
  
  .lista p {
    color: grey;
  }
  
  .personas {
    margin-left: auto;
  }
  
  .miBoton {
    background-color: red;
    border-radius: 20px;
    color: white;
    padding: 0.5rem;
    width: 10rem;
  }
  
  .container-fluid {
    height: auto;
  }

 
  .row {
    display: flex;
    color: grey;
  }
  
  .hora {
    float: right;
  }

  .Horario {
      padding: 1rem;
      padding-left: 1.5rem;
    }

    .container-fluid_lista{
        /* padding: 5rem; */
        justify-content: center;
        /* padding-top: 10%; */
        border-style: 2px red;
        height: 50vh;
    }

    hr{
        width: 100%;
    }

    .row h4{
        text-align: center;
    }
  
    .row.tiempo {
        text-align: center;
    }

    .row.personas {
        text-align: center;
    }

    .row.miBoton2 {
        text-align: center;
    }

  
