.container-opiniones {
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: min-content;
    

    .comment-button {
        margin: 2rem;
        background-color: #FF030B;
        color: white;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 18px;
        line-height: 21px;
        border-radius: 35px;
        border-color: #FF030B;
        height: 2rem;
        text-align: center;
        width:90%;
        &:hover {
            color: #fff;
            background-color: #7D747D;
            border-color: #7D747D;
          }
        }
        .container-opiniones {
            min-height: 100vh;
            width: 100%;
            margin: auto;
            padding: 1.6em;
            display: grid;
            -webkit-box-pack: center;
            justify-content: center;
            align-content: start;
            grid-gap: 1.6em;
            grid-template: auto/repeat(auto-fill, minmax(27em, 27em));
          }
          .opiniones-card {
            margin: 2rem;
            // height: 15em;
            height: 20em;
            display: -webkit-box;
            display: flex;
            background-color: white;
            box-shadow: 2px 10px 40px 0px rgba(0,0,0,0.37);
            border-radius: 25px;
            width: 95%;
            margin-bottom: 8%;
            .user-name {
                font-family: Yanone Kaffeesatz;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                /* identical to box height */
                color: #707070;
            }
            .avatar {
                margin: 2rem;
                height: auto;
                width: 25%;
                max-width: 30%;
                -o-object-fit: cover;
                   object-fit: cover;
                -webkit-box-flex: 1;
                        flex: 1 1 auto;
                        border-radius: 20%;
                        
              }
              // .rate {
              //   font-size: 16px;
              //   line-height: 19px;
              //   color: #707070;
                
              // }
              .card-body {
                width: 12em;
                max-height: 100%;
                -webkit-box-flex: 1;
                        flex: 1 1 auto;
                display: -webkit-box;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                        flex-flow: column nowrap;
                -webkit-box-pack: start;
                        justify-content: flex-start;
                padding: 1.6em;
              }
              
              .opinion-button {
                padding: 8px;
                border-radius: 10px;
                border-style: none;
                background-color: red;
                color: white;
              }

              .comment p {
                color: grey;
                word-wrap: break-word;
                position: absolute;
              }
             

            
              
              @media (max-width: 570px) {
                .container {
                  grid-template: auto / 1fr;
                  padding: 1.0666666667em;
                }
              
                .card {
                  -webkit-box-flex: 1;
                          flex: 1 1 auto;
                  display: -webkit-box;
                  display: flex;
                  background-color: white;
                  box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
                }
                .card img {
                  max-width: 25%;
                }
              }

              @media (min-width: 320px) and (max-width: 425px){
                .avatar{
                  height: 170px;
                  margin-top: auto;
                  margin-bottom: auto;
                  width: 50%;
                }
              }

              @media (min-width:1024px) {
                .opiniones-card {
                  width: 30%;
                }
              }

            
          }
          

}
  
  
  
  