.Registration {
    background-color:  #FF030B;
    background-image: url("https://s6.gifyu.com/images/background-login239682d18d609bbbf.png");
    box-shadow: inset 0 0 0 1000px rgba(54, 1, 2, 0.521);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* height: 100%; */
    height: 100%;
/*     overflow: hidden; */
/*     padding: 2rem; */
}

    .row{
      padding: none;
    }


    .login-form{
        width: 100%;
        /* max-width: 1000px; */
        margin: auto;
        height: auto;
        border: 1px solid transparent;
        border-radius: 35px;
        background-color: rgba(172, 96, 99, 0.685);
      }
      
      .btn-block {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        border-radius: 35px;
        border-color: #FF030B;
        background-color: white;
        color: #FF030B;
        font-weight: bold;
        width:250px;
      }
    
    
      .Registration .btn-dark:hover {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: #fff;
        background-color:#FF030B;
        border-color: #FF030B;
    }
    
    
    .form-control{
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1.2px solid white;
      border-radius: 0;
      
    }
    
    label{
      font-size: 1.3rem;
      padding-top: 5%;
   
    }
    
    
    .Registration .labelForm{
      text-align: left;
      margin: 0;
      padding: 0;
      
    }
    
    .formButton{
      display: flex;
      justify-content: center;
      padding-top: 3%;
    }
    
    .headingForm{
      padding-bottom: 3%;
    }
    
    .select{
      padding-bottom: 2%;
    } 
     
    a {
      line-height: 1em;
      display: inline-block;
      text-decoration: none;
      padding: 2px;
      margin: 12px;
    }


    .select  a:hover{
      text-decoration: none;
     /*  color: #7D747D;  */
      color: white;
      font-weight: bold;
      border-bottom: 1.5px solid white;
    
    }






    .Registration .btn-block{
      font-family: 'Yanone Kaffeesatz', sans-serif;
      border-radius: 35px;
      color: #FF030B;
      font-weight: bold;
      width:250px; 
    }
  
  /*   .loginInPage .btn-dark {
      color: #FF030B;
      background-color: white;
      border-color: #FF030B;
      
  }
  
  .loginInPage .btn-dark:hover {
    color: #fff;
    background-color: #7D747D;
    border-color: #7D747D;
  }
   */

/*  .Registration .btn-dark {
    color: #FF030B;
    background-color: white;
    border-color: #FF030B;
}

.Registration .btn-dark:hover {
  color: #fff;
  background-color:#FF030B;
  border-color: #FF030B;
} */




.Registration .btn-lg {
    padding: 2px; 
  }

  .Registration .form-control{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1.2px solid white;
    border-radius: 0;
  }
  
  label{
    font-size: 1.3rem;
    padding-top: 5%;
    color: white;
  }
  
  
  label .labelForm{
    text-align: left;
  }
  
  .formButton{
    display: flex;
    justify-content: center;
    padding-top: 10%; 
  }
  
  .headingForm{
   padding-bottom: 15%;
  }
  
  .select{
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
   
  a {
   line-height: 1em;
    text-decoration: none;
    padding: 4px;
    margin: 12px;
  }
  
  
  .loginLink1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 1.4rem;
  }
  
  .loginLink2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 1.4rem;
  }
  /* .select  a:hover{
    text-decoration: none;
    color: #7D747D;
  
  } */
  
  /* .Registration .passwordForgot {
    color: white;
    font-size: 1rem;
  } */
  
  
    label .labelForm{
      text-align: left;
    }
  

/*---------------- Media query for larger screens (desktop)---------------- */
    
   @media (min-width:770px) and (max-height: 1366px)   {
          .headingForm {
            padding-bottom: 0;
        }
  

        label{
          font-size: 1.2rem;
        }

        .formButton {
          padding-top: 1%; 
        }
  /* 
        .logo {
          padding-top: 2%;
        } */
  
        .select{
          padding-bottom: 0;
        } 

      
        .Registration .login-form {
          padding: 1.2rem;
      }

      .Registration .btn-dark {
        font-size: 1.7rem;
        
    }


   /*  .form-group {
      margin-bottom: none;
  } */

     /*  .Registration.btn-block {
        height: 40px;
      } */
  }  
  
  /*---------------- iphone-5 media query--------------- */
  @media (min-width: 320px) and (max-height: 677px) { 
    .logo {
     padding-top: 0; 
  }
  .headingForm {
     padding-bottom: 0;
    
  }
  
  
   .Registration{
    padding: 1rem;
  }
  
  .login-form {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  
    }
  
  
    @media (min-width: 1024px) { 
      .Registration{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

   
 }


